.cate-bar {
  padding: 8px 10px;
  border-bottom: 1px solid #EEE;
  // background-color: yellow;
}

.cate-bar--tab {
  display: inline-block;
  padding: 6px 6px;
  margin: 0 6px;
  line-height: 1;
  color: #666;
  // background-color: pink;
}

.cate-bar--active {
  border-radius: 3px;
  // color: #167AC6;
  // color: #E62117;
  color: #CC181E;
  background-color: #F5F5F5;
  
  &:hover {
    text-decoration: none;
  }
}

.article-list {
  padding-top: 10px;
}

.article-item {
  padding: 15px 15px 15px 22px;
  border-top: 1px solid #EEE;

  &:first-child {
    border: none;
  }
}

.article-item--title {
  color: #000;

  &:link {
    color: #000;  
  }

  &:hover {
    color: #167AC6;
    text-decoration: none;
  }

  h3 {
    margin: 0;  
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
  }
}

.article-item--summary {
  margin: 12px 0 8px 0;
  font-size: 13px;
  color: #767676;
}


