@import '../../css/conf.scss';

.header {
  padding: 7px 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  background-color: #FFF;
}

.header--bd {
  width: $containerWidth;
  height: 36px;
  margin: 0 auto;
}

.github-link {
  float: right;
  width: 22px;
  height: 22px;
  margin: 7px 0; 
  color: #333;
  &:link {
    color: #333;  
  }
  &:hover {
    color: #4078c0  
  }
}

.github-icon {
  fill: currentColor;
}