@import './conf.scss';

body {
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: #167ac6;

  &:link {
    color: #167ac6;
  }

  &:hover {
    text-decoration: underline;
  }
}

.clearfix {
  &:after,
  &:before {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.container {
  width: $containerWidth;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

.sidebar {
  float: right;
  width: 270px;
  height: 300px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background-color: #FFF;
}

.content {
  float: left;
  width: 715px;
  margin-right: 15px;
  min-height: 300px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #FFF;
}

.logo {
  float: left;
  height: 26px;
  padding: 5px 0;
  font-weight: 700;
}

.logo--52 {
  float: left;
  height: 26px;
  padding: 2px 3px 2px 0;
  line-height: 1;
  font-size: 22px;
  color: #000;
}

.logo--dachu {
  float: left;
  padding: 2px 3px 4px;
  border-radius: 12px 0;
  font-size: 20px;
  line-height: 1;
  color: #FFF;
  background-color: #E62117;
}

.article {
  padding: 15px;

  pre {
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f2f0;
  }

  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
  }

  p {
    word-wrap: break-word;
  }
}

.article--info {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.article--time {
  color: #999;
}

.article--author {
  padding: 0 5px;
}

.article--avatar {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.article--tag {
  margin: 0 5px;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  color: #CC181E;
  background-color: rgba(247, 179, 182, 0.2);
}


